<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9575CD;">
    <div class="container-fluid">
      <a class="navbar-brand brand" href="/">it's ME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Haqqımızda</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <ul class="navbar-nav d-flex justif-content-end me-lg-5">
          {% if not current_user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#LoginModal">Giriş</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Qeydiyyat</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <i style="font-size: 30px;" class="fas fa-user"></i> <span class="fs-3">{{current_user}} </span> 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/account">Profil</a></li>
              <li><div class="dropdown-divider"></div></li>
              <li><a  class="dropdown-item" href="/logout">Çıxış</a></li>
            </ul>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>